@mixin reg-transition($anim-part, $duration, $curve, $delay){
	-webkit-transition: $anim-part $duration $curve $delay;
	transition: $anim-part $duration $curve $delay;
	-o-transition: $anim-part $duration $curve $delay;
	-moz-transition: $anim-part $duration $curve $delay;
}

@mixin reg-anim ($name, $duration, $timing) {
		animation-name: $name;
		-moz-animation-name: $name;
		-webkit-animation-name: $name;
		-o-animation-name: $name;
		animation-duration: $duration;
		-moz-animation-duration: $duration;
		-webkit-animation-duration: $duration;
		-o-animation-duration: $duration;
		animation-timing-function: $timing;
		-moz-animation-timing-function: $timing;
		-webkit-animation-timing-function: $timing;
		-o-animation-timing-function: $timing;
}

@mixin selected {@include reg-transition(all, 0.6s, ease-out, 0.2s);}

@mixin hover {@include reg-transition(all, 0.4s, ease-out, 0.1s);}

@keyframes added-player {
	0% { opacity: 0;
			 width: 0px; 			 margin-right: 200px;}
	100% {opacity: 1; 
				width: 280px;			 margin-right: 0px;}
}

@-webkit-keyframes added-player {
	0% { opacity: 0;
			 width: 0px; 
			 margin-right: 280px;}
	100% {opacity: 1; 
				width: 280px;
				margin-right: 0px;}
}
@-moz-keyframes added-player {
	0% { opacity: 0;
			 width: 0px; }
	100% {opacity: 1; 
				width: 280px;}
}
@-o-keyframes added-player {
	0% { opacity: 0;
			 width: 0px; }
	100% {opacity: 1; 
				width: 280px;}
}

@keyframes fade-in {
	0% {opacity: 0; }
	100% {opacity: 1;}
}
@-webkit-keyframes fade-in {
	0% {opacity: 0; }
	100% {opacity: 1;}
}
@-moz-keyframes fade-in {
	0% {opacity: 0; }
	100% {opacity: 1;}
}
@-o-keyframes fade-in {
	0% {opacity: 0; }
	100% {opacity: 1;}
}
body {
	min-height: 800px;
}

select {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	padding: 5px 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid black;
}
select::-ms-expand {
	display: none;
}
p {
	font-family: 'Oswald', sans-serif;
}

input {
	border: none;
	border: 2px solid black;
	border-radius: 4px;
}
.close-icon {
	right: 30px;
	top: 30px;
	width: 50px;
	height: 50px;
	color: black;
	font-size: 38px;
	text-align: center;
	position: fixed;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
}
form {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	h3 {
		font-size: 36px;
		margin-bottom: 50px;
		margin-top: 30px;
	}
	& > div {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		font-size: 24px;
		align-items: center;
		& > div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		input {
			margin-left: 20px;
			font-size: 24px;
			width: 60%;
			min-width: 200px;
			padding: 5px;
			border-radius: 3px;
		}
	}
		input[type="submit"] {
			cursor: pointer;
			align-self: center;
			width: 100%;

			margin-top: 25px;
			color: white;
			font-size: 20px;
			border: 1px solid white;
			padding: 10px 20px;
			border-radius: 3px;
			background-color: rgba(0, 0, 0, 0.8);

			&:hover {
				background-color: rgba(100, 100, 100, 0.9);
			}
		}

}
.new-player-modal {
	background-color: #B36B89;
	color: white;
	cursor: pointer;
	padding: 20px 20px;
	border-radius: 4px;
	&:hover {
			@include hover;
			background-color: #724558;
		}
}
.links {
	color: white;
	cursor: pointer;
}

.links:hover {
	color: #333333;
	@include reg-transition(color, 0.5s, ease-out, 0.2s)
}
.active-tab {
	color: #333333;
}


.nav-bar {
	color: white;
	background-color: #896bb3;
	&> div {
		height: 60px;
		width: 70%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.logo {
			font-family: 'varela round', sans-serif;
			font-size: 30px;
			cursor: pointer;
		}
		ul {
			display: flex;
			justify-content: space-around;
			font-size: 22px;
			li {
				font-family: 'varela round', sans-serif;
				margin-left: 15px;
			}
		}
	}

}

.banner-container:after {
	clear: both;
	display: block;
	content: "";
}
.banner-container {
	position: relative;
	z-index: 2;
	div:last-child {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 36px;
		text-align: center;
		letter-spacing: 1.5px;
		button {
			align-self: center;
			width: 50%;
			margin-top: 25px;
			color: white;
			font-size: 20px;
			border: 1px solid white;
			padding: 10px 20px;
			border-radius: 3px;
			background-color: rgba(0, 0, 0, 0.8);
		}
		button:hover {
			background-color: rgba(33, 33, 33, 0.9)
		}
	}
}
.date {
	margin-top: 30px;
}
.banner {
	background-image: url("/images/tt_banner.jpg");
	background-size: cover;
	width: 100%;
	height: 500px;
	opacity: 0.7;
	-webkit-filter: blur(0.2px);
  -moz-filter: blur(0.2px);
  -o-filter: blur(0.2px);
  -ms-filter: blur(0.2px);
  filter: blur(0.2px);
}


/* Player list */
.player-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #dad7de;
	border-radius: 4px;
	background-color: #f7f5fa;
	width: 70%;
	min-width: 600px;
	margin: 5% auto 0 auto;
	min-height: 700px;
	@include reg-anim(fade-in, 1s, ease-out);

	h3 {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 24px;
	}
	.buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.player-container > .participant-reg > div{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 5px;
}

.selected {
	@include selected;
	background-color:  #B3896B;
	color: white;

}
.not-selected {
	@include selected;
	background-color: white;
	color: 	#989898;
}
.not-selected:hover {
	@include hover;
	color: black;
	background-color: #CCC;
}

.participant-reg {
	display: flex;
	flex-direction: column;		
		& > div > div {
			display: flex;
			flex-direction: column;
		}
}

.player-list {
	display: flex;
	flex-direction: column;
	border: 1px solid tranparent;
	border-radius: 4px;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	width: 300px;
	margin: 0 auto;
	margin-top: 5%;
	height: 400px;
	overflow-y: scroll;
	transition: all 0.4s ease-out 0.4s;

	.list-title {
		background-color: #6B89B3;
		width: 100%;
		color: white;
		padding: 35px 15px;	
		@include reg-anim(added-player, 1s, ease-out);

	}
	li {
		width: 280px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px 15px;
		cursor: pointer;
		@include reg-anim(added-player, 1s, ease-out);
		border-bottom: 1px solid #F1EFEF;
	}
}
.hidden-name {
	opacity: 0;
	transform: translateX(-300px);
	display: none;
	margin-bottom: -61px;
	position: relative;

	transition-duration: 1.0s;
	-moz-transition-duration: 1.0s;
	-webkit-transition-duration: 1.0s;
	transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
}

.player-buttons {
	cursor: pointer;
	font-family: 'Titillium Web', sans-serif;
	padding: 10px 15px;
	font-size: 20px;
	font-weight: 700;
	border-radius: 3px;
	width: 65%;
	border: none;
	color: white;
	letter-spacing: 1.1px;
	align-self: center;
	margin-top: 5px;

	&:hover {
		@include hover;
	}
}
.remove .list-title, .remove .player-buttons {
	background-color: #6BB389;
}
.add .player-buttons {
			background-color: #6B89B3;
}
.add .player-buttons:hover {
	background-color: #859EC0;
	color: #666;
}
.remove .player-buttons:hover {
	background-color: #8DC4A4;
	color: #666;
}


.player-nav {
	position: relative;
	top: 15px;
	display: flex;
	flex-direction: row;

	li {
		width: 100%;
	}

	a {	
		font-family: 'varela round', sans-serif;
		font-size: 24px;
		color: white;
		background-color: rgb(51, 40, 66);
		padding: 10px;
		cursor: pointer;

		&:hover {
			background-color: rgba(51, 40, 66, 0.8);
		}

		&.active {
			background-color: rgb(68,54,89);
		}
	}

}

.grouping {
	margin-top: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;

	table {
		font-size: 24px;
		min-width: 500px;
		width: 100%;
		font-family: 'varela round', sans-serif;
		th {
			color: white;
			text-align: left;
			background-color: #AD6BB3;
			padding: 20px 15px;
		}
		td {
			border-top: 1px solid #F1EFEF;
			padding: 20px 15px;
		}
	}
}

.select-action {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	font-family: 'varela round', sans-serif;

}
.select-action li {
	text-align: center;
	min-width: 300px;

	margin-top: 20px;
	a {
 		color: black;
	}

	a:hover {
		background-color: #B4ACC0;
		@include hover;
	}
}


@media (max-width: 920px){
	.player-list {
		width: 100%;
		align-self: center;
		@include selected;
		li, .list-title {
			width: 500px;
		}
	}

}



