div, body, content, header {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: sans-serif;
}
ul {
  margin-top: 0;
  list-style-type: none;
  text-align: center;
}
ul li {
  display: block;
  position: relative;
  right: 41%;
}
.separator {
  padding-top: 5px;
}
header {
  width: 100%;
  text-align: center;
  display: block;
}
.center {
  word-wrap: break-word;
  width: 50%;
}
.center h1 {
  text-decoration: underline;
}
.left, .right {
  width: 20%;
}
.cf {
  content: " ";
  clear: both;
  display: table;
}
header div {
  float: left;
}

content {
  width: 100%;
}

content ol {
  float: left;
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
}
ol li {
  padding-top: 5px;
  padding-bottom: 5px;
}
ol li span {
  margin-left: 10px;
}
content > div {
  float: left;
}
.schedule {
  margin-top: 10px;
  float: right;
  font-size: 15px;
}
.scenario {
  float: left;
  border-left: 2px solid black;
  min-height: 300px;
  text-align: center;
}
.schedule:last-child {
  border-right: 2px solid black;
}


.cell-div {
  float: left;
  padding: 0px 4px;
  border-right: 2px solid black;
}
.cell-div .cell:last-child {
  margin-left: 2px;
  border-right: 0px;
}
.cell {
  position: relative;
  float: left;
  border-bottom: 1px solid black;
  height: 35px;
  width: 30px;
}
.pos {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 100%;
  font-size: 12px;
}
.g-num, .blank {
  float: left;
  width: 20px;
  padding: 3px;
  height: 33px;
  border-right: 2px solid black;
}

.grey {
  background-color: grey;
}
.row {
  padding: 5px;
  display: block;
}
.score-title {
  text-align: center;
  height: 35px;
  float: left;
  width: 70px;
  border-right: 2px solid black;
}

