<!DOCTYPE html>
<html>
<head>
  <title>Match Point</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300|Roboto:100,300,400|Titillium+Web:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/styles/application.css">
</head>
<body>
  <div>
    <h3><%= message %></h3>
    <button href="/club">Back to Home page</button>
  </div>
</body>
</html>