@import 'reset';

@mixin reg-transition($anim-part, $duration, $curve, $delay){
  -webkit-transition: $anim-part $duration $curve $delay;
  transition: $anim-part $duration $curve $delay;
  -o-transition: $anim-part $duration $curve $delay;
  -moz-transition: $anim-part $duration $curve $delay;
}
@mixin reg-transition-no-delay($anim-part, $duration, $curve){
	-webkit-transition: $anim-part $duration $curve;
	transition: $anim-part $duration $curve;
	-o-transition: $anim-part $duration $curve;
	-moz-transition: $anim-part $duration $curve;
}
@mixin default-font {
	font-family: 'Roboto', sans-serif;
}
@mixin reg-anim ($name, $duration, $timing) {
		animation-name: $name;
		-moz-animation-name: $name;
		-webkit-animation-name: $name;
		-o-animation-name: $name;
		animation-duration: $duration;
		-moz-animation-duration: $duration;
		-webkit-animation-duration: $duration;
		-o-animation-duration: $duration;
		animation-timing-function: $timing;
		-moz-animation-timing-function: $timing;
		-webkit-animation-timing-function: $timing;
		-o-animation-timing-function: $timing;
}

@mixin selected {@include reg-transition(all, 0.6s, ease-out, 0.2s);}

@mixin hover {@include reg-transition(all, 0.4s, ease-out, 0.1s);}

@keyframes added-player-sm {
	0% { opacity: 0; width: 0px; margin-right: 200px;}
	100% {opacity: 1; width: 280px; margin-right: 0px;}
}

@-webkit-keyframes added-player-sm {
	0% { opacity: 0; width: 0px; margin-right: 280px;}
	100% {opacity: 1; width: 280px; margin-right: 0px;}
}
@-moz-keyframes added-player-sm {
	0% { opacity: 0; width: 0px; margin-right: 200px;}
	100% {opacity: 1; width: 280px;margin-right: 0px;}
}
@-o-keyframes added-player-sm {
	0% { opacity: 0; width: 0px; margin-right: 200px;}
	100% {opacity: 1; width: 280px;margin-right: 0px;}
}
@keyframes added-player-lg {
	0% { opacity: 0; width: 0px; margin-right: 200px;}
	100% {opacity: 1; width: 500px; margin-right: 0px;}
}

@-webkit-keyframes added-player-lg {
	0% { opacity: 0; width: 0px; margin-right: 280px;}
	100% {opacity: 1; width: 500px; margin-right: 0px;}
}
@-moz-keyframes added-player-lg {
	0% { opacity: 0; width: 0px; margin-right: 200px;}
	100% {opacity: 1; width: 500px;margin-right: 0px;}
}
@-o-keyframes added-player-lg {
	0% { opacity: 0; width: 0px; margin-right: 200px;}
	100% {opacity: 1; width: 500px;margin-right: 0px;}
}

@keyframes fade-in {
	0% {opacity: 0; }
	100% {opacity: 1;}
}
@-webkit-keyframes fade-in {
	0% {opacity: 0; }
	100% {opacity: 1;}
}
@-moz-keyframes fade-in {
	0% {opacity: 0; }
	100% {opacity: 1;}
}
@-o-keyframes fade-in {
	0% {opacity: 0; }
	100% {opacity: 1;}
}
h3 {
  @include default-font;
}
.banner-container:after {
  clear: both;
  display: block;
  content: "";
}
.banner-container {
  position: relative;
  z-index: 1;
  transform: translateY(-5%);
  .banner-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px #000000;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1.5px;
    button {
      align-self: center;
      width: 50%;
      min-width: 150px;
      margin-top: 25px;
      color: white;
      font-size: 20px;
      border: 1px solid white;
      padding: 10px 20px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.9);
      transition: background-color 0.5s ease-in-out;
    }
    button:hover {
      background-color: rgb(33, 33, 33)
    }
  }
}
.banner {
  background-image: url("/images/tt_banner.jpg");
  background-size: cover;
    -ms-background-position-x: center;
  -ms-background-position-y: top;
  background-position: center top;
  transform: translateY(0%);
  width: 100%;
  min-height: 800px;
  height: 100vw;
  opacity: 0.9;
  -webkit-filter: blur(0.2px);
  -moz-filter: blur(0.2px);
  -o-filter: blur(0.2px);
  -ms-filter: blur(0.2px);
  filter: blur(0.2px);
}
.close-icon {
	width: 50px;
	height: 50px;
	color: black;
  font-weight: 100;

  font-family: 'Roboto', sans-serif;
	font-size: 20px;
	/*text-align: center;*/
  position: absolute;
  right: 0;
	cursor: pointer;
	&:hover {
		color: gray;
	}
}
body {
	min-height: 800px;
  position: relative;
}

p {
	font-family: 'Oswald', sans-serif;
}

select {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	padding: 5px 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid black;
}
select::-ms-expand {
	display: none;
}

input {
	border: none;
	border: 2px solid black;
	border-radius: 4px;
}

.links {
	color: black;
	cursor: pointer;
}

.links:hover {
	color: #333333;
	@include reg-transition(color, 0.5s, ease-out, 0.2s)
}
.active-tab {
	color: #333333;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.nav-bar {
	color: white;
	background-color: #673AB7;
  font-weight: 400;
  z-index: 99;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
  content: " ";
  position: relative;

	& > div {
		height: 60px;
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.logo {
			font-family: 'Roboto', sans-serif;
			font-size: 25px;
			cursor: pointer;
      color: white;
      @include reg-transition-no-delay(color, 0.5s, ease-in-out)
    }
    .logo:hover {
      color: #FFA000;
    }
  }

}
button {
  cursor: pointer;
}
.nav {
  position: relative;
	display: flex;
  right: -15%;
	font-size: 16px;
	li {
		font-family: 'Roboto', sans-serif;
		margin-left: 15px;
  }
  li:hover {
    @include reg-transition-no-delay(color, 0.2s, ease-out)
  }
}

.date {
  text-align: left;
  min-width: 400px;
  width: 50%;
}
.new-session-container {
  display: flex;
  flex-direction: column;
  /*width: 100%;*/
  /*align-items: center;*/
  margin: 0 auto;
}
.player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dad7de;
  border-radius: 4px;
  /*background-color: #f7f5fa;*/
  /*width: 70%;*/
  width: 400px;
  margin: 5% auto 0 auto;
}

.tab-container {
  width: 90%;
  margin: 5% auto 0 auto;
  position: relative;
/*  min-width: 400px;*/
}

.player-lists {
  display: flex;
  flex-direction: row;
  & > div {
    min-width: 300px;

    &:nth-child(2) {
      margin-right: 10px;
    }
    &:nth-child(even) {
      margin-top: 20px;
    }
  }
}
.table-search-field {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.col-rating {
  width: 100px;
}
.col-button {
  width: 30px;
}
@media (max-width: 560px){
  .col-name {
    padding-right: 10px;
    padding-left: 10px;
  }
  .col-rating {
    width: 30px;
    padding-right: 0;
  }
  .col-button {
    width: 15px;
  }
}
@media (min-width: 740px){
  .col-name {
    padding-right: 10px;
    padding-left: 10px;
  }
  .col-rating {
    width: 30px;
    padding-right: 0;
  }
  .col-button {
    width: 15px;
  }
}
@media (max-width: 740px){
  .tab-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    /*min-width: 350px;*/

  }
  .player-lists {
  display: flex;
  flex-direction: column;

    & > div {
      height: 300px;
      overflow: scroll;

      &:nth-child(even) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .date {
    padding-top: 40px;
  }
}


.sessions-list {
  border: 1px solid #E0E0E0;
  padding: 20px;
  margin: 5% auto;
  width: 80%;
}

.session-container {
  margin: 5% auto 0 auto;
  width: 80%;
  border: 1px solid #E0E0E0;
}
.session-container-body {
  padding: 20px;
  .trcol {
    background-color: black;
  }
}

.group-table {
  margin-bottom: 5%;
}


.result-entry {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 600px;
	align-items: center;
	padding: 15px 5px;
	border-bottom: 1px solid #F1EFEF;
	&> * {
		font-size: 18px;
		margin-right: 10px;
	}
	.result-entry-buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	button {
		cursor: pointer;
		padding: 10px;
		border-radius: 3px;
		color: white;
	}

	button:hover {
		color: black;
		@include hover;
	}
}
h1 {
	font-size: 24px;
	@include default-font;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black;
}
select::-ms-expand {
  display: none;
}

input {
  border: none;
  border: 2px solid black;
  border-radius: 4px;
}
.forms {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-60%);
  transform: translateX(-60%);
}

.form-error {
  margin-top: 10px;
  color: red;
}

.nav-bar li {
  cursor: pointer;
  color: white;

  &:hover {
    color: #FFA000;
  }
}

li.active-links {
  color: black;
  cursor: initial;
  @include reg-transition-no-delay(color, 0.5s, ease-in-out)
  &:hover {
    color: black;
  }
}
form {
  max-height: 430px;
  overflow: scroll;
  @include reg-transition(opacity, 0.5s, ease-in-out, 0.5s)
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E0E0E0;
  background-color: white;
  box-shadow: 2px 2px 5px #E0E0E0;
  z-index: 400;
  h3 {
    font-size: 36px;
    font-weight: 200;
  }

  .button-div {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
  }

}
#upload-form {
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: none;
  &:first-child {
    margin-right: 10px;
  }
}
.record-btn {
    color: grey;
    font-size: 16px;
    border: 1px solid white;
    padding: 10px 20px;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;
}
.activated p {
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}
.score-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@mixin rotate ($deg, $px) {
  transform: rotate3d(1, 0, 0, $deg);
  -webkit-transform: rotate3d(1, 0, 0, $deg);
  -moz-transform: rotate3d(1, 0, 0, $deg);
  transform-origin: top;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transition: all 0.5s ease-out 0.3s;
  -webkit-transition: all 0.5s ease-out 0.3s;
  -moz-transition: all 0.5s ease-out 0.3s;
}
.back {
  @include rotate(180deg, -200px);
  opacity: 0;
  z-index: -99;
}

.back.rotated {
  @include rotate(0deg, 0px);
  opacity: 1;
  z-index: 1;
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
.collapsed-icon {
  display: none;
  font-size: 40px;
}

.player-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20%;
  padding: 30px;
  width: 300px;
  z-index: 300;
  form {
    overflow: visible;
  }
  h3 {
    margin-bottom: 10px;
  }
}
.save {
  position: absolute;
  top: -20px;
  right: -10px;
}
.create {
  position: absolute;
  top: -20px;
  left: 0;
}

.redirect-signup, .forgot-password {
  color: #212121;
  font-weight: 100;
  font-size: 14px;
  a {
    text-indent: 20px;
    cursor: pointer;
    text-decoration: underline;
  }
}

.redirect-signup {
  margin-top: 20px;
}

.forgot-password {
  margin-top: -20px;
}

.table-title {
  text-align: center;
  display: block;
}
.min-max {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  :first-child {
    margin-right: 20px;
  }
}
.player-query {
  /*border: 1px solid #E0E0E0;*/
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  table {
    margin-bottom: 5%;
  }
  .big-container {
    margin: 0 auto;
  }
}
.player-result-main-container {
  padding: 20px;
}
.result-query-container {
  margin: 5% auto 0 auto;
  width: 80%;
  border: 1px solid #E0E0E0;
}
.name-select-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > *:first-child {
    margin-right: 20px;
  }
}
.club-info-container {
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;

  > div {
    margin-top: 10px;
  }
}
footer {
  margin-top: 10px;
  bottom: 0;
  margin-left: 49%;
  position: static;
}
.git {
  cursor: pointer;
  left: 20px;
  width: 50px;
  height: 50px;
  background-image: url("/images/git.png");
  background-size: cover;
}
.git:hover {
  width: 50px;
  height: 50px;
  background-image: url("/images/git-hover.png");
  background-size: cover;
}
@media (max-width: 800px){
  .nav {
    display: none;
  }

  .collapsed-icon {
    margin-right: -40%;
    display: flex;
    cursor: pointer;
    transition: color 0.5s;
    &:hover {
      color: black;
    }
  }

}
.confirmation-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  p {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  h3 {
    font-size: 22px;
    padding-bottom: 20px;
  }

}
.confirmation-sent {
  margin: 0 auto;
  transform: translateY(50%);
  width: 500px;
  height: 250px;
  padding: 20px;
  border: 2px solid #E0E0E0;
}

@media (min-width: 944px) and (min-device-width: 944px){
  .banner-container {
    transform: translateY(-15%);
  }
  .forms {
    top: 30%;
  }
  .nav {
    right: -20%;
  }
}
@media (min-width: 1144px) and (min-device-width: 1144px){
  .banner-container {
    transform: translateY(-20%);
  }

}
@media (min-width: 535px) and (max-device-width: 535px){
  .banner {
    background-image: url("/images/tt_banner.jpg");
    background-repeat:no-repeat;
    -ms-background-position-x: center;
    -ms-background-position-y: center;
    background-position: center center;
  }
  .banner-container {
    transform: translateY(-5%);
  }
  .banner-text {
    font-size: 24px;
  }
	.result-entry {
		max-width: 400px;
	}
  .result-query-container {
    width: 90%;
  }
}
@media (min-width: 335px) and (min-device-width: 335px){
  .club-nav {
    position: absolute;
    left: -150px;
    @include selected;
  }

  .club-nav:hover {
    left: 0px;
    @include selected;

  }
  .club-children {
    position: relative;
    left: 20px;
  }
  .name-select-div {
    display: flex;
    flex-direction: column;

  }
}

