@import '~assets/variables.scss';

.nav {
  position: relative;
  display: flex;
  font-size: 16px;

  li {
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
  }
  li:hover {
    @include reg-transition-no-delay(color, 0.2s, ease-out)
  }
}

.nav-bar {
  color: white;
  background-color: transparent;
  font-weight: 400;
  z-index: 99;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
  content: " ";
  position: absolute;

  & > div {
    height: 60px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      cursor: pointer;
      color: white;
      @include reg-transition-no-delay(color, 0.5s, ease-in-out)
    }

    .logo:hover {
      color: #FFA000;
    }
  }

  li {
    cursor: pointer;
    font-size: 18px;

    &:hover {
      color: #FFA000;
    }

    &.active-links {
      color: black;
      cursor: initial;
      @include reg-transition-no-delay(color, 0.5s, ease-in-out)
      &:hover {
        color: black;
      }
    }
  }

  .collapsed-icon {
    cursor: pointer;
    font-size: 24px;
    transition: color 0.5s;

    &:hover {
      color: #FFA000;
    }
  }

  .sliding-menu {
    position: absolute;
  }
}
