@import '~assets/variables.scss';
@import '~assets/mixins.scss';

.nav {
  position: relative;
  display: flex;
  font-size: 20px;

  li {
    font-family: 'Ropa Sans', sans-serif;
    margin-left: 15px;
    color: white;
  }

  li:hover {
    @include reg-transition-no-delay(color, 0.2s, ease-out)
  }
}

.nav-bar.color .nav li {
  color: #666;
}

.nav-bar {
  color: white;
  background-color: transparent;
  box-shadow: 0;
  font-weight: 400;
  z-index: 99;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
  content: " ";
  position: absolute;

  & > div {
    height: 60px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-family: 'Ropa Sans', sans-serif;
      font-size: 28px;
      cursor: pointer;
      color: white;
      flex: 1;
      @include reg-transition-no-delay(color, 0.5s, ease-in-out)
    }

    .logo:hover {
      color: #FFA000;
    }
  }

  li {
    cursor: pointer;
    font-size: 18px;

    &:hover {
      color: #FFA000;
    }

    &.active-links {
      color: black;
      cursor: initial;
      @include reg-transition-no-delay(color, 0.5s, ease-in-out)
      &:hover {
        color: black;
      }
    }
  }

  .collapsed-icon {
    cursor: pointer;
    font-size: 24px;
    transition: color 0.5s;

    &:hover {
      color: #FFA000;
    }
  }

  .sliding-menu {
    font-family: 'Ropa Sans', sans-serif;
    position: absolute;
  }

  &.color {
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .16);
    background-color: white;
    color: #c0c0c0;

    & > div {
      .logo {
        color: #666666;
      }
    }

    li {
      cursor: pointer;
      font-size: 18px;

      &:hover {
        color: #FFA000;
      }

      &.active-links {
        color: black;
        cursor: initial;
        @include reg-transition-no-delay(color, 0.5s, ease-in-out)
        &:hover {
          color: black;
        }
      }
    }

    &:after {
      content: " ";
      position: absolute;
      bottom: -5px;
      width: 100%;
      height: 5px;
      left: 0;
      box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .16);
    }
  }
}
