.profile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  height: 100%;

  & > div {
    height: 100%;
  }

  form {
    flex: 1;
    overflow: scroll;
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: none;
    box-shadow: none;
    z-index: inherit;
  }
}
