@import '~assets/mixins.scss';

.banner-container {
  background-image: url("/images/tt_banner.jpg");
  background-size: cover;
  -ms-background-position-x: center;
  -ms-background-position-y: top;
  background-position: center top;
  transform: translateY(0%);
  opacity: 0.9;
  -webkit-filter: blur(0.2px);
  -moz-filter: blur(0.2px);
  -o-filter: blur(0.2px);
  -ms-filter: blur(0.2px);
  filter: blur(0.2px);
  flex: 1;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  z-index: 1;

  .banner-text {
    display: flex;
    position: relative;
    top: -30px;
    flex-direction: column;
    align-items: center;
    color: white;
    width: auto;
    max-width: 90%;

    p {
      text-shadow: 3px 3px #000000;
      font-size: 36px;
      text-align: center;
      letter-spacing: 0px;
    }
  }

  .buttons {
    margin-top: 50px;
  }

  .login-button {
    box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 4px !important;
    width: 150px;
    margin: 10px 0;
    display: flex !important;
    align-items: center;

    &:last-child {
      margin-top: 15px;
    }
  }
}
