@import '~assets/IndieFlower.scss';
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import '~assets/variables.scss';
@import '~assets/mixins.scss';

html,
body,
.app-container,
#root {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
}

a {
  color: #3D5AFE;
  cursor: pointer;
}

a:hover {
  color: #303F9F;
}

body {
  line-height: 1;

  &.no-scroll {
    overflow: hidden;
    position: fixed;
  }
}

ol, ul {
  list-style: none;
}

.form-error {
  margin-top: 10px;
  color: red;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

button {
  cursor: pointer;
}

body {
  position: relative;
}

p {
  font-family: 'Ropa Sans', sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black;
}

select::-ms-expand {
  display: none;
}

input {
  border: none;
  border: 2px solid black;
  border-radius: 4px;
}

h3 {
  @include default-font;
}

.close-icon {
  width: 50px;
  height: 50px;
  color: black;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
  &:hover {
    color: gray;
  }
}

.links {
  color: black;
  cursor: pointer;
}

.links:hover {
  color: #333333;
  @include reg-transition(color, 0.5s, ease-out, 0.2s)
}

.active-tab {
  color: #333333;
}

.date {
  text-align: left;
  min-width: 400px;
  width: 50%;
}

.new-session-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dad7de;
  border-radius: 4px;
  width: 400px;
  margin: 5% auto 0 auto;
}

.tab-container {
  @include light-box-shadow;
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: scroll;

  & > div[value="1"] {
    display: flex;
    height: 100%;
    flex-direction: column;


    & > div:last-child {
      flex: 1;
    }
  }

  & > div > div:last-child {
    @include container-box-shadow;
  }
}

.player-lists {
  display: flex;
  flex-direction: row;
  & > div {
    min-width: 300px;

    &:nth-child(2) {
      margin-right: 10px;
    }
    &:nth-child(even) {
      margin-top: 20px;
    }
  }
}
.table-search-field {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.col-rating {
  width: 50px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-button {
  width: 40px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 560px){
  .col-name {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 740px){
  .col-name {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 740px){
  .tab-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .player-lists {
    display: flex;
    flex-direction: column;

    & > div {
      height: 300px;
      overflow: scroll;

      &:nth-child(even) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .date {
    padding-top: 40px;
  }
}


.sessions-list {
  @include light-box-shadow;
  height: 100%;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
}

.session-container {
  @include light-box-shadow;
  margin: 0 auto;
  width: 80%;
  /*border: 1px solid #E0E0E0;*/
  .app-bar {
    background-color: white !important;
    z-index: 2 !important;

    h1 {
      color: #666 !important;
      font-family: 'Ropa Sans', sans-serif;
    }

    svg {
      color: #666 !important;
      fill: #666 !important;
    }
  }
}

.tab-menu-tab {
  letter-spacing: 0.3px;
  color: #666 !important;
  -webkit-tap-highlight-color: black !important;

  div {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
  }
}

.session-container-body {
  padding: 20px;
  .trcol {
    background-color: black;
  }
}

.group-table {
  margin-bottom: 5%;
}

.result-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  align-items: center;
  padding: 15px 5px;
  border-bottom: 1px solid #F1EFEF;

  &> * {
    font-size: 18px;
    margin-right: 10px;
  }

  .result-entry-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    color: white;
  }

  button:hover {
    color: black;
    @include hover;
  }
}
h1 {
  font-size: 24px;
  @include default-font;
}

.forms {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

form {
  max-height: 70vh;
  overflow: auto;
  @include reg-transition(opacity, 0.5s, ease-in-out, 0.5s)
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 40px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E0E0E0;
  background-color: white;
  box-shadow: 2px 2px 5px #E0E0E0;
  z-index: 400;

  h3 {
    font-size: 36px;
    font-weight: 200;
  }

  .button-div {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

#upload-form {
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: none;
  &:first-child {
    margin-right: 10px;
  }
}

.record-btn {
    color: grey;
    font-size: 16px;
    border: 1px solid white;
    padding: 10px 20px;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;
}

.activated p {
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.score-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.player-form {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 300;
  animation: modalOpen 0.5s ease-in-out;

  form {
    width: 330px;
    margin: 0;
    overflow: visible;
  }

  h3 {
    margin-bottom: 10px;
  }
}

.save {
  position: absolute;
  top: -20px;
  right: -10px;
}

.create {
  position: absolute;
  top: -20px;
  left: 0;
}

.redirect-signup,
.forgot-password {
  color: #212121;
  font-weight: 100;
  font-size: 14px;

  a {
    text-indent: 20px;
    cursor: pointer;
    text-decoration: underline;
  }
}

.redirect-signup {
  margin-top: 20px;
}

.forgot-password {
  margin-top: -20px;
}

.table-title {
  text-align: center;
  display: block;
}

.min-max {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  :first-child {
    margin-right: 20px;
  }
}

@media (min-width: 944px) and (min-device-width: 944px){
  .forms {
    top: 50%;
  }
}

@media (min-width: 535px) and (max-device-width: 535px){
  .banner {
    background-image: url("/images/tt_banner.jpg");
    background-repeat:no-repeat;
    -ms-background-position-x: center;
    -ms-background-position-y: center;
    background-position: center center;
  }

  .banner-text {
    font-size: 24px;
  }

  .result-entry {
    max-width: 400px;
  }

  .result-query-container {
    width: 90%;
  }
}

@media (min-width: 335px) and (min-device-width: 335px){
  .club-nav {
    position: absolute;
    left: -150px;
    @include selected;
  }

  .club-nav:hover {
    left: 0px;
    @include selected;
  }

  .club-children {
    position: relative;
  }
}

@keyframes modalOpen {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
