@import '~assets/variables.scss';
@import '~assets/IndieFlower.scss';

html,
body,
.app-container,
#root {
  height: 100%;
}


.app-container {
  display: flex;
  flex-direction: column;
}
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, q, s, strong,
b, u, i, dl, dt, dd, ol, ul, li,
form, label, table,  button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

a {
  color: #3D5AFE;
  cursor: pointer;
}

a:hover {
  color: #303F9F;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

.form-error {
  margin-top: 10px;
  color: red;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

button {
  cursor: pointer;
}

body {
  min-height: 800px;
  position: relative;
}

p {
  font-family: 'Oswald', sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black;
}
select::-ms-expand {
  display: none;
}

input {
  border: none;
  border: 2px solid black;
  border-radius: 4px;
}

h3 {
  @include default-font;
}

.close-icon {
  width: 50px;
  height: 50px;
  color: black;
  font-weight: 100;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  /*text-align: center;*/
  position: absolute;
  right: 0;
  cursor: pointer;
  &:hover {
    color: gray;
  }
}

.links {
  color: black;
  cursor: pointer;
}

.links:hover {
  color: #333333;
  @include reg-transition(color, 0.5s, ease-out, 0.2s)
}
.active-tab {
  color: #333333;
}

.date {
  text-align: left;
  min-width: 400px;
  width: 50%;
}

.new-session-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dad7de;
  border-radius: 4px;
  width: 400px;
  margin: 5% auto 0 auto;
}

.tab-container {
  width: 90%;
  margin: 5% auto 0 auto;
  position: relative;
/*  min-width: 400px;*/
}

.player-lists {
  display: flex;
  flex-direction: row;
  & > div {
    min-width: 300px;

    &:nth-child(2) {
      margin-right: 10px;
    }
    &:nth-child(even) {
      margin-top: 20px;
    }
  }
}
.table-search-field {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.col-rating {
  width: 100px;
}
.col-button {
  width: 30px;
}

@media (max-width: 560px){
  .col-name {
    padding-right: 10px;
    padding-left: 10px;
  }
  .col-rating {
    width: 30px;
    padding-right: 0;
  }
  .col-button {
    width: 15px;
  }
}

@media (min-width: 740px){
  .col-name {
    padding-right: 10px;
    padding-left: 10px;
  }
  .col-rating {
    width: 30px;
    padding-right: 0;
  }
  .col-button {
    width: 15px;
  }
}
@media (max-width: 740px){
  .tab-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    /*min-width: 350px;*/

  }
  .player-lists {
  display: flex;
  flex-direction: column;

    & > div {
      height: 300px;
      overflow: scroll;

      &:nth-child(even) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .date {
    padding-top: 40px;
  }
}


.sessions-list {
  border: 1px solid #E0E0E0;
  padding: 20px;
  margin: 5% auto;
  width: 80%;
}

.session-container {
  margin: 5% auto 0 auto;
  width: 80%;
  border: 1px solid #E0E0E0;
}

.session-container-body {
  padding: 20px;
  .trcol {
    background-color: black;
  }
}

.group-table {
  margin-bottom: 5%;
}


.result-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  align-items: center;
  padding: 15px 5px;
  border-bottom: 1px solid #F1EFEF;
  &> * {
    font-size: 18px;
    margin-right: 10px;
  }
  .result-entry-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  button {
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    color: white;
  }

  button:hover {
    color: black;
    @include hover;
  }
}
h1 {
  font-size: 24px;
  @include default-font;
}

.forms {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-60%);
  transform: translateX(-60%);
}

form {
  max-height: 430px;
  overflow: scroll;
  @include reg-transition(opacity, 0.5s, ease-in-out, 0.5s)
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E0E0E0;
  background-color: white;
  box-shadow: 2px 2px 5px #E0E0E0;
  z-index: 400;

  h3 {
    font-size: 36px;
    font-weight: 200;
  }

  .button-div {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

#upload-form {
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: none;
  &:first-child {
    margin-right: 10px;
  }
}

.record-btn {
    color: grey;
    font-size: 16px;
    border: 1px solid white;
    padding: 10px 20px;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;
}

.activated p {
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.score-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.player-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20%;
  padding: 30px;
  width: 300px;
  z-index: 300;
  form {
    overflow: visible;
  }
  h3 {
    margin-bottom: 10px;
  }
}

.save {
  position: absolute;
  top: -20px;
  right: -10px;
}

.create {
  position: absolute;
  top: -20px;
  left: 0;
}

.redirect-signup,
.forgot-password {
  color: #212121;
  font-weight: 100;
  font-size: 14px;

  a {
    text-indent: 20px;
    cursor: pointer;
    text-decoration: underline;
  }
}

.redirect-signup {
  margin-top: 20px;
}

.forgot-password {
  margin-top: -20px;
}

.table-title {
  text-align: center;
  display: block;
}

.min-max {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  :first-child {
    margin-right: 20px;
  }
}

.player-query {
  /*border: 1px solid #E0E0E0;*/
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  table {
    margin-bottom: 5%;
  }
  .big-container {
    margin: 0 auto;
  }
}

.player-result-main-container {
  padding: 20px;
}

.result-query-container {
  margin: 5% auto 0 auto;
  width: 80%;
  border: 1px solid #E0E0E0;
}

.name-select-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > *:first-child {
    margin-right: 20px;
  }

}
.club-info-container {
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;

  > div {
    margin-top: 10px;
  }
}

@media (min-width: 944px) and (min-device-width: 944px){
  .forms {
    top: 30%;
  }
}

@media (min-width: 535px) and (max-device-width: 535px){
  .banner {
    background-image: url("/images/tt_banner.jpg");
    background-repeat:no-repeat;
    -ms-background-position-x: center;
    -ms-background-position-y: center;
    background-position: center center;
  }

  .banner-text {
    font-size: 24px;
  }

  .result-entry {
    max-width: 400px;
  }

  .result-query-container {
    width: 90%;
  }
}

@media (min-width: 335px) and (min-device-width: 335px){
  .club-nav {
    position: absolute;
    left: -150px;
    @include selected;
  }

  .club-nav:hover {
    left: 0px;
    @include selected;

  }
  .club-children {
    position: relative;
    left: 20px;
  }

  .name-select-div {
    display: flex;
    flex-direction: column;

  }
}
