.confirmation-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  p {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    a {
      padding-left: 5px;
      text-decoration: underline;
    }
  }
  h3 {
    font-size: 22px;
    padding-bottom: 20px;
  }
}

.confirmation-sent {
  margin: 0 auto;
  transform: translateY(50%);
  width: 400px;
  height: 250px;
  padding: 35px;
  border: 2px solid #E0E0E0;
}
