<!DOCTYPE html>
<html>
<head>
  <title>MatchPoint</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
  <div class="banner-container">
        <div class="banner"></div>
        <div>
          <p>One-stop shop for Round Robin Tournament Management..</p>
          <button><a href="/login">Log In</a></button>
          <button><a href="/signup">Sign Up</a></button>
        </div>
  </div>
</body>
</html>