@keyframes added-player-sm {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 200px; }
  100% {
    opacity: 1;
    width: 280px;
    margin-right: 0px; } }

@-webkit-keyframes added-player-sm {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 280px; }
  100% {
    opacity: 1;
    width: 280px;
    margin-right: 0px; } }

@-moz-keyframes added-player-sm {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 200px; }
  100% {
    opacity: 1;
    width: 280px;
    margin-right: 0px; } }

@-o-keyframes added-player-sm {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 200px; }
  100% {
    opacity: 1;
    width: 280px;
    margin-right: 0px; } }

@keyframes added-player-lg {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 200px; }
  100% {
    opacity: 1;
    width: 500px;
    margin-right: 0px; } }

@-webkit-keyframes added-player-lg {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 280px; }
  100% {
    opacity: 1;
    width: 500px;
    margin-right: 0px; } }

@-moz-keyframes added-player-lg {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 200px; }
  100% {
    opacity: 1;
    width: 500px;
    margin-right: 0px; } }

@-o-keyframes added-player-lg {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 200px; }
  100% {
    opacity: 1;
    width: 500px;
    margin-right: 0px; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.banner-container:after {
  clear: both;
  display: block;
  content: ""; }

.banner-container {
  position: relative;
  z-index: 2; }
  .banner-container div:last-child {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1.5px; }
    .banner-container div:last-child button {
      align-self: center;
      width: 50%;
      margin-top: 25px;
      color: white;
      font-size: 20px;
      border: 1px solid white;
      padding: 10px 20px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.8); }
    .banner-container div:last-child button:hover {
      background-color: rgba(33, 33, 33, 0.9); }

.banner {
  background-image: url("/images/tt_banner.jpg");
  background-size: cover;
  width: 100%;
  max-height: 800px;
  height: 100vw;
  opacity: 0.7;
  -webkit-filter: blur(0.2px);
  -moz-filter: blur(0.2px);
  -o-filter: blur(0.2px);
  -ms-filter: blur(0.2px);
  filter: blur(0.2px); }

.close-icon {
  right: 30px;
  top: 30px;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 38px;
  text-align: center;
  position: fixed;
  cursor: pointer; }
  .close-icon:hover {
    opacity: 0.8; }

body {
  min-height: 800px; }

p {
  font-family: 'Oswald', sans-serif; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black; }

select::-ms-expand {
  display: none; }

input {
  border: none;
  border: 2px solid black;
  border-radius: 4px; }

.new-player-modal {
  background-color: #B36B89;
  color: white;
  cursor: pointer;
  padding: 20px 20px;
  border-radius: 4px; }
  .new-player-modal:hover {
    -webkit-transition: all 0.4s ease-out 0.1s;
    transition: all 0.4s ease-out 0.1s;
    -o-transition: all 0.4s ease-out 0.1s;
    -moz-transition: all 0.4s ease-out 0.1s;
    background-color: #724558; }

.links {
  color: white;
  cursor: pointer; }

.links:hover {
  color: #333333;
  -webkit-transition: color 0.5s ease-out 0.2s;
  transition: color 0.5s ease-out 0.2s;
  -o-transition: color 0.5s ease-out 0.2s;
  -moz-transition: color 0.5s ease-out 0.2s; }

.active-tab {
  color: #333333; }

.nav-bar {
  color: white;
  background-color: #896bb3; }
  .nav-bar > div {
    height: 60px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .nav-bar > div .logo {
      font-family: 'varela round', sans-serif;
      font-size: 30px;
      cursor: pointer; }
    .nav-bar > div ul {
      display: flex;
      justify-content: space-around;
      font-size: 22px; }
      .nav-bar > div ul li {
        font-family: 'varela round', sans-serif;
        margin-left: 15px; }

.date {
  margin-top: 30px; }

/* Player list */
.player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dad7de;
  border-radius: 4px;
  background-color: #f7f5fa;
  width: 70%;
  min-width: 600px;
  margin: 5% auto 0 auto;
  min-height: 700px;
  animation-name: fade-in;
  -moz-animation-name: fade-in;
  -webkit-animation-name: fade-in;
  -o-animation-name: fade-in;
  animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out; }
  .player-container h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px; }
  .player-container .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.player-container > .participant-reg > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px; }

.selected {
  -webkit-transition: all 0.6s ease-out 0.2s;
  transition: all 0.6s ease-out 0.2s;
  -o-transition: all 0.6s ease-out 0.2s;
  -moz-transition: all 0.6s ease-out 0.2s;
  background-color: #B3896B;
  color: white; }

.not-selected {
  -webkit-transition: all 0.6s ease-out 0.2s;
  transition: all 0.6s ease-out 0.2s;
  -o-transition: all 0.6s ease-out 0.2s;
  -moz-transition: all 0.6s ease-out 0.2s;
  background-color: white;
  color: #989898; }

.not-selected:hover {
  -webkit-transition: all 0.4s ease-out 0.1s;
  transition: all 0.4s ease-out 0.1s;
  -o-transition: all 0.4s ease-out 0.1s;
  -moz-transition: all 0.4s ease-out 0.1s;
  color: black;
  background-color: #CCC; }

.participant-reg {
  display: flex;
  flex-direction: column; }
  .participant-reg > div > div {
    display: flex;
    flex-direction: column; }

.player-list {
  display: flex;
  flex-direction: column;
  border: 1px solid tranparent;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 5%;
  height: 400px;
  overflow-y: scroll;
  transition: all 0.4s ease-out 0.4s; }
  .player-list .list-title {
    background-color: #6B89B3;
    width: 100%;
    color: white;
    padding: 35px 15px;
    animation-name: added-player-sm;
    -moz-animation-name: added-player-sm;
    -webkit-animation-name: added-player-sm;
    -o-animation-name: added-player-sm;
    animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out; }
  .player-list li {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
    cursor: pointer;
    animation-name: added-player-sm;
    -moz-animation-name: added-player-sm;
    -webkit-animation-name: added-player-sm;
    -o-animation-name: added-player-sm;
    animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    border-bottom: 1px solid #F1EFEF; }

.hidden-name {
  opacity: 0;
  transform: translateX(-300px);
  display: none;
  margin-bottom: -61px;
  position: relative;
  transition-duration: 1.0s;
  -moz-transition-duration: 1.0s;
  -webkit-transition-duration: 1.0s;
  transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out; }

.player-buttons {
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 3px;
  width: 65%;
  border: none;
  color: white;
  letter-spacing: 1.1px;
  align-self: center;
  margin-top: 5px; }
  .player-buttons:hover {
    -webkit-transition: all 0.4s ease-out 0.1s;
    transition: all 0.4s ease-out 0.1s;
    -o-transition: all 0.4s ease-out 0.1s;
    -moz-transition: all 0.4s ease-out 0.1s; }

.remove .list-title, .remove .player-buttons {
  background-color: #6BB389; }

.add .player-buttons {
  background-color: #6B89B3; }

.add .player-buttons:hover {
  background-color: #859EC0;
  color: #666; }

.remove .player-buttons:hover {
  background-color: #8DC4A4;
  color: #666; }

.player-nav {
  position: relative;
  top: 15px;
  display: flex;
  flex-direction: row; }
  .player-nav li {
    width: 100%; }
  .player-nav a {
    font-family: 'varela round', sans-serif;
    font-size: 24px;
    color: white;
    background-color: #332842;
    padding: 10px;
    cursor: pointer; }
    .player-nav a:hover {
      background-color: rgba(51, 40, 66, 0.8); }
    .player-nav a.active {
      background-color: #443659; }

.grouping {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .grouping table {
    font-size: 24px;
    min-width: 500px;
    width: 100%;
    font-family: 'varela round', sans-serif; }
    .grouping table th {
      color: white;
      text-align: left;
      background-color: #AD6BB3;
      padding: 20px 15px; }
    .grouping table td {
      border-top: 1px solid #F1EFEF;
      padding: 20px 15px; }

.save-session {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  cursor: pointer; }

.save-session:hover {
  background-color: grey;
  color: black; }

.club-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.club-nav {
  -webkit-transition: all 0.6s ease-out 0.2s;
  transition: all 0.6s ease-out 0.2s;
  -o-transition: all 0.6s ease-out 0.2s;
  -moz-transition: all 0.6s ease-out 0.2s;
  background-color: #ad6bb3;
  width: 170px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: 'varela round', sans-serif; }

.club-nav li {
  transform: translateY(-120%);
  text-align: left;
  min-width: 150px;
  min-height: 25px;
  padding: 15px 5px; }
  .club-nav li a:hover {
    color: black;
    border-bottom: 1px solid black;
    font-size: 21px;
    -webkit-transition: all 0.4s ease-out 0.1s;
    transition: all 0.4s ease-out 0.1s;
    -o-transition: all 0.4s ease-out 0.1s;
    -moz-transition: all 0.4s ease-out 0.1s; }

.result-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  align-items: center;
  padding: 15px 5px;
  border-bottom: 1px solid #F1EFEF; }
  .result-entry > * {
    font-size: 18px;
    margin-right: 10px; }
  .result-entry .result-entry-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .result-entry button {
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    color: white; }
  .result-entry button:hover {
    color: black;
    -webkit-transition: all 0.4s ease-out 0.1s;
    transition: all 0.4s ease-out 0.1s;
    -o-transition: all 0.4s ease-out 0.1s;
    -moz-transition: all 0.4s ease-out 0.1s; }

h1 {
  font-size: 24px;
  font-family: 'varela round', sans-serif; }

.record-table {
  color: black;
  font-family: 'varela round', sans-serif; }
  .record-table th {
    padding: 10px 25px; }
  .record-table th, .record-table td {
    border: 2px solid #aaa;
    border-radius: 2px; }
  .record-table td {
    padding: 25px 25px; }
  .record-table .greyed {
    background-color: grey; }
  .record-table ul {
    display: flex;
    flex-direction: column;
    align-items: center; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black; }

select::-ms-expand {
  display: none; }

input {
  border: none;
  border: 2px solid black;
  border-radius: 4px; }

form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  form h3 {
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 30px; }
  form > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 24px;
    align-items: center; }
    form > div > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    form > div input {
      margin-left: 20px;
      font-size: 24px;
      width: 60%;
      min-width: 200px;
      padding: 5px;
      border-radius: 3px; }
  form .button-div {
    display: flex;
    flex-wrap: nowrap; }
  form input[type="submit"] {
    cursor: pointer;
    align-self: center;
    width: 100%;
    margin-top: 25px;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8); }
    form input[type="submit"]:hover {
      background-color: rgba(100, 100, 100, 0.9); }

.record-btn {
  color: grey;
  font-size: 16px;
  border: 1px solid white;
  padding: 10px 20px;
  background-color: black;
  border-radius: 3px;
  cursor: pointer; }

.front, .back {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.8); }

.back {
  margin-top: 5px;
  background-color: #212121; }

.front {
  z-index: 999;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden; }

.record-table {
  color: white;
  font-size: 16px; }
  .record-table .table-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; }
    .record-table .table-header > div {
      width: 100px;
      text-align: center; }
  .record-table .front-table, .record-table .back-table {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap; }
  .record-table input {
    width: 30px;
    height: 30px; }
  .record-table .cell {
    width: 100px; }
  .record-table .greyed {
    backrgound-color: grey; }

.front-table .row, .back-table .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center; }

.back {
  transform: rotate3d(1, 0, 0, 180deg);
  -webkit-transform: rotate3d(1, 0, 0, 180deg);
  -moz-transform: rotate3d(1, 0, 0, 180deg);
  transform-origin: top;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transition: all 0.5s ease-out 0.3s;
  -webkit-transition: all 0.5s ease-out 0.3s;
  -moz-transition: all 0.5s ease-out 0.3s;
  opacity: 0;
  z-index: -99; }

.back.rotated {
  transform: rotate3d(1, 0, 0, 0deg);
  -webkit-transform: rotate3d(1, 0, 0, 0deg);
  -moz-transform: rotate3d(1, 0, 0, 0deg);
  transform-origin: top;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transition: all 0.5s ease-out 0.3s;
  -webkit-transition: all 0.5s ease-out 0.3s;
  -moz-transition: all 0.5s ease-out 0.3s;
  opacity: 1;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden; }

@media (max-width: 920px) {
  .player-list {
    width: 100%;
    align-self: center;
    -webkit-transition: all 0.6s ease-out 0.2s;
    transition: all 0.6s ease-out 0.2s;
    -o-transition: all 0.6s ease-out 0.2s;
    -moz-transition: all 0.6s ease-out 0.2s; }
    .player-list li, .player-list .list-title {
      width: 500px; } }

@media (max-width: 535px) {
  .club-nav {
    position: absolute;
    left: -150px;
    -webkit-transition: all 0.6s ease-out 0.2s;
    transition: all 0.6s ease-out 0.2s;
    -o-transition: all 0.6s ease-out 0.2s;
    -moz-transition: all 0.6s ease-out 0.2s; }
  .club-nav:hover {
    left: 0px;
    -webkit-transition: all 0.6s ease-out 0.2s;
    transition: all 0.6s ease-out 0.2s;
    -o-transition: all 0.6s ease-out 0.2s;
    -moz-transition: all 0.6s ease-out 0.2s; }
  .club-children {
    position: relative;
    left: 20px; } }

@media (max-width: 760px) {
  .result-entry {
    max-width: 400px; } }
