button {
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif; }

p {
  font-family: 'Oswald', sans-serif; }

input {
  border: none;
  border: 2px solid black; }

form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  form h3 {
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 30px; }
  form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 24px;
    align-items: center; }
    form div input {
      margin-left: 20px;
      font-size: 24px;
      width: 60%;
      min-width: 200px;
      padding: 5px;
      border-radius: 3px; }
  form input[type="submit"] {
    cursor: pointer;
    align-self: center;
    width: 50%;
    margin-top: 25px;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8); }
    form input[type="submit"]:hover {
      background-color: rgba(100, 100, 100, 0.9); }

.nav-bar {
  font-size: 24px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black; }
  .nav-bar ul {
    display: flex;
    justify-content: space-around; }
    .nav-bar ul li {
      margin-left: 15px; }

.banner-container:after {
  clear: both;
  display: block;
  content: ""; }

.banner-container {
  position: relative;
  z-index: 2; }
  .banner-container div:last-child {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1.5px; }
    .banner-container div:last-child button {
      align-self: center;
      width: 50%;
      margin-top: 25px;
      color: white;
      font-size: 20px;
      border: 1px solid white;
      padding: 10px 20px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.8); }
    .banner-container div:last-child button:hover {
      background-color: rgba(33, 33, 33, 0.9); }

.banner {
  background-image: url("/images/tt_banner.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  opacity: 0.7;
  -webkit-filter: blur(0.2px);
  -moz-filter: blur(0.2px);
  -o-filter: blur(0.2px);
  -ms-filter: blur(0.2px);
  filter: blur(0.2px); }

/* Player list */
.player-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .player-container .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.player-container > div {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.selected {
  background-color: black;
  color: white; }

.not-selected {
  background-color: white;
  color: black; }

.player-list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  width: 30%;
  min-width: 174px; }
  .player-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
