button {
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #d95e72;
  color: white;
  letter-spacing: 1.1px; }
  button:hover {
    background-color: rgba(217, 94, 114, 0.8); }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black; }

select::-ms-expand {
  display: none; }

p {
  font-family: 'Oswald', sans-serif; }

input {
  border: none;
  border: 2px solid black;
  border-radius: 4px; }

.close-icon {
  right: 30px;
  top: 30px;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 38px;
  text-align: center;
  position: fixed;
  cursor: pointer; }
  .close-icon:hover {
    opacity: 0.8; }

form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  form h3 {
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 30px; }
  form > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 24px;
    align-items: center; }
    form > div > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    form > div input {
      margin-left: 20px;
      font-size: 24px;
      width: 60%;
      min-width: 200px;
      padding: 5px;
      border-radius: 3px; }
  form input[type="submit"] {
    cursor: pointer;
    align-self: center;
    width: 100%;
    margin-top: 25px;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8); }
    form input[type="submit"]:hover {
      background-color: rgba(100, 100, 100, 0.9); }

.nav-bar {
  font-size: 24px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black; }
  .nav-bar ul {
    display: flex;
    justify-content: space-around; }
    .nav-bar ul li {
      margin-left: 15px; }

.banner-container:after {
  clear: both;
  display: block;
  content: ""; }

.banner-container {
  position: relative;
  z-index: 2; }
  .banner-container div:last-child {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1.5px; }
    .banner-container div:last-child button {
      align-self: center;
      width: 50%;
      margin-top: 25px;
      color: white;
      font-size: 20px;
      border: 1px solid white;
      padding: 10px 20px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.8); }
    .banner-container div:last-child button:hover {
      background-color: rgba(33, 33, 33, 0.9); }

.banner {
  background-image: url("/images/tt_banner.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  opacity: 0.7;
  -webkit-filter: blur(0.2px);
  -moz-filter: blur(0.2px);
  -o-filter: blur(0.2px);
  -ms-filter: blur(0.2px);
  filter: blur(0.2px); }

/* Player list */
.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
  border-radius: 5px;
  width: 60%;
  min-width: 600px;
  margin: 10% auto 0 auto;
  min-height: 600px; }
  .player-container h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px; }
  .player-container .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.player-container > div {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.selected {
  background-color: black;
  color: white; }

.not-selected {
  background-color: white;
  color: black; }

.participant-reg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .participant-reg > div {
    display: flex;
    flex-direction: row;
    justify-content: center; }

.player-list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  min-width: 204px;
  margin: 0 auto;
  margin-top: 5%; }
  .player-list h4 {
    margin-bottom: 15px; }
  .player-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0; }

.player-nav {
  display: flex;
  flex-direction: row; }
  .player-nav a {
    font-size: 16px;
    color: black;
    background-color: #ce3047;
    padding: 5px;
    cursor: pointer; }
    .player-nav a:hover {
      background-color: rgba(206, 48, 71, 0.8); }
    .player-nav a.active {
      background-color: grey; }

.grouping {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }
  .grouping table {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 0;
    font-size: 24px;
    width: 80%; }
    .grouping table tr {
      border-bottom: 1px solid black; }
