button {
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif; }

p {
  font-family: 'Oswald', sans-serif; }

.nav-bar {
  font-size: 24px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black; }
  .nav-bar ul {
    display: flex;
    justify-content: space-around; }
    .nav-bar ul li {
      margin-left: 15px; }

.banner-container:after {
  clear: both;
  display: block;
  content: ""; }

.banner-container {
  position: relative;
  z-index: 2; }
  .banner-container div:last-child {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1.5px; }
    .banner-container div:last-child button {
      align-self: center;
      width: 50%;
      margin-top: 25px;
      color: white;
      font-size: 20px;
      border: 1px solid white;
      padding: 10px 20px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.8); }
    .banner-container div:last-child button:hover {
      background-color: rgba(33, 33, 33, 0.9); }

.banner {
  background-image: url("/images/tt_banner.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  opacity: 0.7;
  -webkit-filter: blur(0.2px);
  -moz-filter: blur(0.2px);
  -o-filter: blur(0.2px);
  -ms-filter: blur(0.2px);
  filter: blur(0.2px); }
