@keyframes added-player-sm {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 200px; }
  100% {
    opacity: 1;
    width: 280px;
    margin-right: 0px; } }

@-webkit-keyframes added-player-sm {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 280px; }
  100% {
    opacity: 1;
    width: 280px;
    margin-right: 0px; } }

@-moz-keyframes added-player-sm {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 200px; }
  100% {
    opacity: 1;
    width: 280px;
    margin-right: 0px; } }

@-o-keyframes added-player-sm {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 200px; }
  100% {
    opacity: 1;
    width: 280px;
    margin-right: 0px; } }

@keyframes added-player-lg {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 200px; }
  100% {
    opacity: 1;
    width: 500px;
    margin-right: 0px; } }

@-webkit-keyframes added-player-lg {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 280px; }
  100% {
    opacity: 1;
    width: 500px;
    margin-right: 0px; } }

@-moz-keyframes added-player-lg {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 200px; }
  100% {
    opacity: 1;
    width: 500px;
    margin-right: 0px; } }

@-o-keyframes added-player-lg {
  0% {
    opacity: 0;
    width: 0px;
    margin-right: 200px; }
  100% {
    opacity: 1;
    width: 500px;
    margin-right: 0px; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

h3 {
  font-family: 'Roboto', sans-serif; }

.banner-container:after {
  clear: both;
  display: block;
  content: ""; }

.banner-container {
  position: relative;
  z-index: 2; }
  .banner-container .banner-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1.5px; }
    .banner-container .banner-text button {
      align-self: center;
      width: 50%;
      margin-top: 25px;
      color: white;
      font-size: 20px;
      border: 1px solid white;
      padding: 10px 20px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.8); }
    .banner-container .banner-text button:hover {
      background-color: rgba(33, 33, 33, 0.9); }

.banner {
  background-image: url("/images/tt_banner.jpg");
  background-size: cover;
  width: 100%;
  max-height: 800px;
  height: 100vw;
  opacity: 0.9;
  -webkit-filter: blur(0.2px);
  -moz-filter: blur(0.2px);
  -o-filter: blur(0.2px);
  -ms-filter: blur(0.2px);
  filter: blur(0.2px); }

.close-icon {
  width: 50px;
  height: 50px;
  color: black;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  /*text-align: center;*/
  position: absolute;
  right: 0;
  cursor: pointer; }
  .close-icon:hover {
    color: gray; }

body {
  min-height: 800px; }

p {
  font-family: 'Oswald', sans-serif; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black; }

select::-ms-expand {
  display: none; }

input {
  border: none;
  border: 2px solid black;
  border-radius: 4px; }

.links {
  color: black;
  cursor: pointer; }

.links:hover {
  color: #333333;
  -webkit-transition: color 0.5s ease-out 0.2s;
  transition: color 0.5s ease-out 0.2s;
  -o-transition: color 0.5s ease-out 0.2s;
  -moz-transition: color 0.5s ease-out 0.2s; }

.active-tab {
  color: #333333; }

.nav-bar {
  color: white;
  background-color: #673AB7;
  font-weight: 400;
  display: flex;
  position: relative; }
  .nav-bar a {
    color: white; }
  .nav-bar > div {
    height: 60px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .nav-bar > div .logo {
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      cursor: pointer;
      color: white; }

.nav {
  display: flex;
  justify-content: space-around;
  font-size: 16px; }
  .nav li {
    font-family: 'Roboto', sans-serif;
    margin-left: 15px; }
  .nav li:hover {
    background-color: #E0E0E0;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out; }

.date {
  text-align: left;
  min-width: 400px;
  width: 50%; }

.new-session-container {
  display: flex;
  flex-direction: column;
  /*width: 100%;*/
  /*align-items: center;*/
  margin: 0 auto; }

.player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dad7de;
  border-radius: 4px;
  /*background-color: #f7f5fa;*/
  /*width: 70%;*/
  width: 400px;
  margin: 5% auto 0 auto; }

.tab-container {
  width: 90%;
  margin: 5% auto 0;
  /*  min-width: 400px;*/ }

.player-lists {
  display: flex;
  flex-direction: row; }
  .player-lists > div {
    min-width: 300px; }
    .player-lists > div:nth-child(2) {
      margin-right: 10px; }
    .player-lists > div:nth-child(even) {
      margin-top: 20px; }

@media (max-width: 700px) {
  .tab-container {
    width: 80%;
    /*min-width: 350px;*/ }
  .player-lists {
    display: flex;
    flex-direction: column; }
    .player-lists > div {
      height: 300px;
      overflow: scroll; }
      .player-lists > div:nth-child(even) {
        margin-top: 20px;
        margin-bottom: 20px; } }

.sessions-list {
  border: 1px solid #E0E0E0;
  padding: 20px;
  margin: 5% auto;
  width: 80%; }

.club-body {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/ }

.session-container {
  margin: 5% auto 0 auto;
  width: 80%;
  border: 1px solid #E0E0E0; }

.session-container-body {
  padding: 20px; }

.group-table {
  margin-bottom: 5%; }

.result-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  align-items: center;
  padding: 15px 5px;
  border-bottom: 1px solid #F1EFEF; }
  .result-entry > * {
    font-size: 18px;
    margin-right: 10px; }
  .result-entry .result-entry-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .result-entry button {
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    color: white; }
  .result-entry button:hover {
    color: black;
    -webkit-transition: all 0.4s ease-out 0.1s;
    transition: all 0.4s ease-out 0.1s;
    -o-transition: all 0.4s ease-out 0.1s;
    -moz-transition: all 0.4s ease-out 0.1s; }

h1 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif; }

.record-table {
  color: black;
  font-family: 'Roboto', sans-serif; }
  .record-table th {
    padding: 10px 25px; }
  .record-table th, .record-table td {
    border: 2px solid #aaa;
    border-radius: 2px; }
  .record-table td {
    padding: 25px 25px; }
  .record-table .greyed {
    background-color: grey; }
  .record-table ul {
    display: flex;
    flex-direction: column;
    align-items: center; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black; }

select::-ms-expand {
  display: none; }

input {
  border: none;
  border: 2px solid black;
  border-radius: 4px; }

.forms {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-60%);
  transform: translateX(-60%); }

form {
  max-height: 430px;
  overflow: scroll;
  -webkit-transition: opacity 0.5s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out 0.5s;
  -o-transition: opacity 0.5s ease-in-out 0.5s;
  -moz-transition: opacity 0.5s ease-in-out 0.5s;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E0E0E0;
  background-color: white;
  box-shadow: 2px 2px 5px #E0E0E0;
  z-index: 400; }
  form h3 {
    font-size: 36px;
    font-weight: 200; }
  form .button-div {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px; }

.record-btn {
  color: grey;
  font-size: 16px;
  border: 1px solid white;
  padding: 10px 20px;
  background-color: black;
  border-radius: 3px;
  cursor: pointer; }

/*.front, .back {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.8);
}
.back {
  margin-top: 5px;
  background-color: rgba(33, 33, 33, 1);
}
.front {
  z-index: 400;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}
.record-table {
  color: white;
  font-size: 16px;
  .table-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    & > div {
      width: 100px;
      text-align: center;
    }
  }
  .front-table, .back-table {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  input {
    width: 30px;
    height: 30px;
  }

  .cell {
    width: 100px;
  }
  .greyed {
    backrgound-color: grey;
  }
}

.front-table .row, .back-table .row{
  display:  flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
}*/
.score-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.back {
  transform: rotate3d(1, 0, 0, 180deg);
  -webkit-transform: rotate3d(1, 0, 0, 180deg);
  -moz-transform: rotate3d(1, 0, 0, 180deg);
  transform-origin: top;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transition: all 0.5s ease-out 0.3s;
  -webkit-transition: all 0.5s ease-out 0.3s;
  -moz-transition: all 0.5s ease-out 0.3s;
  opacity: 0;
  z-index: -99; }

.back.rotated {
  transform: rotate3d(1, 0, 0, 0deg);
  -webkit-transform: rotate3d(1, 0, 0, 0deg);
  -moz-transform: rotate3d(1, 0, 0, 0deg);
  transform-origin: top;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transition: all 0.5s ease-out 0.3s;
  -webkit-transition: all 0.5s ease-out 0.3s;
  -moz-transition: all 0.5s ease-out 0.3s;
  opacity: 1;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden; }

.collapsed-icon {
  display: none;
  font-size: 40px; }

.player-form {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  width: 300px;
  z-index: 300; }
  .player-form form {
    overflow: visible; }
  .player-form h3 {
    margin-bottom: 10px; }

.save {
  position: absolute;
  top: -20px;
  right: -10px; }

.create {
  position: absolute;
  top: -20px;
  left: 0; }

.redirect-signup {
  margin-bottom: -20px;
  color: #212121;
  font-weight: 100;
  font-size: 14px; }
  .redirect-signup a {
    text-indent: 20px;
    cursor: pointer;
    text-decoration: underline; }

.table-title {
  text-align: center;
  display: block; }

.min-max {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .min-max :first-child {
    margin-right: 20px; }

@media only screen and (max-width: 800px) {
  .nav {
    display: none; }
  .collapsed-icon {
    margin-right: -40%;
    display: flex;
    cursor: pointer; }
    .collapsed-icon:hover {
      color: black; } }

@media (max-width: 535px) {
  .club-nav {
    position: absolute;
    left: -150px;
    -webkit-transition: all 0.6s ease-out 0.2s;
    transition: all 0.6s ease-out 0.2s;
    -o-transition: all 0.6s ease-out 0.2s;
    -moz-transition: all 0.6s ease-out 0.2s; }
  .club-nav:hover {
    left: 0px;
    -webkit-transition: all 0.6s ease-out 0.2s;
    transition: all 0.6s ease-out 0.2s;
    -o-transition: all 0.6s ease-out 0.2s;
    -moz-transition: all 0.6s ease-out 0.2s; }
  .club-children {
    position: relative;
    left: 20px; } }

@media (max-width: 760px) {
  .result-entry {
    max-width: 400px; } }
