select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black; }

select::-ms-expand {
  display: none; }

input {
  border: none;
  border: 2px solid black;
  border-radius: 4px; }

form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  form h3 {
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 30px; }
  form > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 24px;
    align-items: center; }
    form > div > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    form > div input {
      margin-left: 20px;
      font-size: 24px;
      width: 60%;
      min-width: 200px;
      padding: 5px;
      border-radius: 3px; }
  form .button-div {
    display: flex;
    flex-wrap: nowrap; }
  form input[type="submit"] {
    cursor: pointer;
    align-self: center;
    width: 100%;
    margin-top: 25px;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8); }
    form input[type="submit"]:hover {
      background-color: rgba(100, 100, 100, 0.9); }
