.front, .back {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.8); }

.back {
  margin-top: 5px;
  background-color: #212121; }

.front {
  z-index: 999;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden; }

.record-table {
  color: white;
  font-size: 16px; }
  .record-table .table-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; }
    .record-table .table-header > div {
      width: 100px;
      text-align: center; }
  .record-table .front-table, .record-table .back-table {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap; }
  .record-table input {
    width: 30px;
    height: 30px; }
  .record-table .cell {
    width: 100px; }
  .record-table .greyed {
    backrgound-color: grey; }

.front-table .row, .back-table .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center; }

.back {
  transform: rotate3d(1, 0, 0, 180deg);
  -webkit-transform: rotate3d(1, 0, 0, 180deg);
  -moz-transform: rotate3d(1, 0, 0, 180deg);
  transform-origin: top;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transition: all 0.5s ease-out 0.3s;
  -webkit-transition: all 0.5s ease-out 0.3s;
  -moz-transition: all 0.5s ease-out 0.3s;
  opacity: 0;
  z-index: -99; }

.back.rotated {
  transform: rotate3d(1, 0, 0, 0deg);
  -webkit-transform: rotate3d(1, 0, 0, 0deg);
  -moz-transform: rotate3d(1, 0, 0, 0deg);
  transform-origin: top;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transition: all 0.5s ease-out 0.3s;
  -webkit-transition: all 0.5s ease-out 0.3s;
  -moz-transition: all 0.5s ease-out 0.3s;
  opacity: 1;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden; }
