@mixin overlay($color, $opacity: 0.75) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba($color, $opacity);
}

@mixin container-box-shadow {
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .16);
}

@mixin light-box-shadow {
  box-shadow: 0px 1px 5px #dcdcdc;
}
