* {
  box-sizing: border-box;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, q, s, strong,
b, u, i, dl, dt, dd, ol, ul, li,
form, label, table,  button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
