@mixin reg-transition($anim-part, $duration, $curve, $delay){
  -webkit-transition: $anim-part $duration $curve $delay;
  transition: $anim-part $duration $curve $delay;
  -o-transition: $anim-part $duration $curve $delay;
  -moz-transition: $anim-part $duration $curve $delay;
}

@mixin reg-transition-no-delay($anim-part, $duration, $curve){
  -webkit-transition: $anim-part $duration $curve;
  transition: $anim-part $duration $curve;
  -o-transition: $anim-part $duration $curve;
  -moz-transition: $anim-part $duration $curve;
}

@mixin default-font {
  font-family: 'Roboto', sans-serif;
}

@mixin reg-anim ($name, $duration, $timing) {
    animation-name: $name;
    -moz-animation-name: $name;
    -webkit-animation-name: $name;
    -o-animation-name: $name;
    animation-duration: $duration;
    -moz-animation-duration: $duration;
    -webkit-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-timing-function: $timing;
    -moz-animation-timing-function: $timing;
    -webkit-animation-timing-function: $timing;
    -o-animation-timing-function: $timing;
}

@mixin selected {@include reg-transition(all, 0.6s, ease-out, 0.2s);}

@mixin hover {@include reg-transition(all, 0.4s, ease-out, 0.1s);}
