@import '~assets/mixins.scss';

.tutorial-container {
  font-family: 'Indie Flower';
  color: white;

  .arrow {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 140px;
    width: 160px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEyOHB4IiBoZWlnaHQ9IjEyOHB4IiB2aWV3Qm94PSIwIDAgMzY1LjQxOSAzNjUuNDE5IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzNjUuNDE5IDM2NS40MTk7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8Zz4KCQk8cGF0aCBkPSJNOTAuNDU0LDEyNy45NjNjMCw0Ljg5Ni0xLjIyNCwxMC40MDQtNC44OTYsMTQuMDc2Yy0zLjA2LDMuMDYsMS44MzYsNy45NTYsNC44OTYsNC44OTYgICAgYzQuODk2LTQuODk2LDcuOTU2LTExLjYyOCw4LjU2OC0xOC45NzJDOTkuNjM0LDEyMi40NTUsOTAuNDU0LDEyMi40NTUsOTAuNDU0LDEyNy45NjN6IiBmaWxsPSIjRkZGRkZGIi8+CgkJPHBhdGggZD0iTTExMC4wMzgsODMuMjg3Yy0zLjA2LDcuOTU2LTYuMTIsMTUuOTEyLTUuNTA4LDI0LjQ4YzAsNC44OTYsNy4zNDQsNC44OTYsNy4zNDQsMGMwLjYxMi03Ljk1NiwzLjA2LTE0LjA3Niw2LjczMi0yMC44MDggICAgQzEyMi4yNzgsODEuNDUxLDExMy4wOTgsNzYuNTU1LDExMC4wMzgsODMuMjg3eiIgZmlsbD0iI0ZGRkZGRiIvPgoJCTxwYXRoIGQ9Ik0xMjkuMDEsNDIuMjgzYy0zLjA2LDIuNDQ4LTMuMDYsNi4xMi00LjI4NCw5Ljc5MmMtMC42MTIsMy42NzItMS44MzYsNy45NTYtMy4wNiwxMS42MjggICAgYy0xLjIyNCwzLjA2LDMuNjcyLDUuNTA4LDUuNTA4LDIuNDQ4YzEuODM2LTMuNjcyLDMuMDYtNi43MzIsNC4yODQtMTAuNDA0YzEuMjI0LTMuNjcyLDMuMDYtNy4zNDQsMy4wNi0xMS4wMTYgICAgQzEzNC41MTgsNDEuNjcxLDEzMS40NTgsNDAuNDQ3LDEyOS4wMSw0Mi4yODN6IiBmaWxsPSIjRkZGRkZGIi8+CgkJPHBhdGggZD0iTTE2OC4xNzgsMTEuNjgzYy00LjI4NC00LjI4NC04LjU2OC03Ljk1Ni0xNC4wNzYtMTEuMDE2Yy0xLjgzNi0xLjIyNC00LjI4NC0wLjYxMi01LjUwOCwwLjYxMiAgICBjLTYuMTIsNy4zNDQtMTAuNDA0LDE3LjEzNi05Ljc5MiwyNi4zMTZjMCw0LjI4NCw2LjEyLDMuNjcyLDYuMTIsMGMwLjYxMi02LjczMiwzLjY3Mi0xMi4yNCw3Ljk1Ni0xNy4xMzYgICAgYzMuMDYsMS44MzYsNi4xMiw0LjI4NCw5LjE4LDcuMzQ0QzE2NS43MywyMi4wODcsMTcyLjQ2MiwxNS45NjcsMTY4LjE3OCwxMS42ODN6IiBmaWxsPSIjRkZGRkZGIi8+CgkJPHBhdGggZD0iTTE4OS41OTgsMzQuMzI3Yy0yLjQ0OC0xLjgzNi0yLjQ0OC0zLjY3Mi0xLjgzNi01LjUwOGMxLjIyNC0zLjY3Mi00LjI4NC01LjUwOC02LjEyLTIuNDQ4ICAgIGMtMS4yMjQsMS44MzYtMS44MzYsMy4wNi0xLjgzNiw1LjUwOGMwLDEuODM2LDAuNjEyLDQuMjg0LDEuODM2LDUuNTA4YzEuODM2LDMuMDYsNS41MDgsNi43MzIsOC41NjgsNy4zNDQgICAgYzMuMDYsMC42MTIsNS41MDgtMS44MzYsNC4yODMtNC4yODRDMTkzLjg4MiwzNy4zODcsMTkyLjA0NiwzNi4xNjMsMTg5LjU5OCwzNC4zMjd6IiBmaWxsPSIjRkZGRkZGIi8+CgkJPHBhdGggZD0iTTIyNi4zMTgsNzEuMDQ3Yy0zLjA2LTEuODM2LTYuNzMxLTMuMDYtOS43OTItNC4yODRjLTMuNjcyLTEuMjI0LTcuMzQ0LTMuMDYtMTEuMDE2LTQuODk2ICAgIGMtMy4wNjEtMS4yMjQtNS41MDgsMy4wNi0yLjQ0OCw0LjI4NGMzLjA2LDEuODM2LDYuNzMyLDMuNjcyLDkuNzkyLDUuNTA4YzMuNjcyLDEuODM2LDYuNzMyLDQuODk2LDEwLjQwNCw2LjEyICAgIEMyMjguMTU0LDgwLjIyNywyMjkuOTksNzMuNDk1LDIyNi4zMTgsNzEuMDQ3eiIgZmlsbD0iI0ZGRkZGRiIvPgoJCTxwYXRoIGQ9Ik0yNDUuOTAyLDEwNC43MDdjLTMuMDYtMy4wNi02LjEyLTUuNTA4LTkuNzkyLTguNTY4Yy0yLjQ0OC0yLjQ0OC02LjEyLDEuMjI0LTMuNjcyLDMuNjcyICAgIGMzLjA2LDMuMDYsNS41MDgsNi43MzIsOC41NjgsOS43OTJjMi40NDcsMy4wNiw1LjUwOCw3Ljk1Niw5LjE4LDguNTY4YzMuMDYsMC42MTIsNS41MDgtMS44MzYsNC4yODQtNC4yODQgICAgQzI1My44NTgsMTA5LjYwNCwyNDguOTYyLDEwNy4xNTUsMjQ1LjkwMiwxMDQuNzA3eiIgZmlsbD0iI0ZGRkZGRiIvPgoJCTxwYXRoIGQ9Ik0yNzIuMjE4LDE0My4yNjNjMS4yMjQsMC0xLjIyNS0xLjgzNi0xLjIyNS0yLjQ0OGMtMC42MTEtMS4yMjQtMS44MzYtMy4wNi0yLjQ0Ny00LjI4NCAgICBjLTEuMjI1LTIuNDQ4LTMuMDYxLTQuODk2LTQuODk2LTYuNzMyYy0zLjA2LTMuMDYtNi43MzEsMS4yMjQtNC4yODQsNC4yODRjMS44MzYsMS44MzYsMi40NDgsNC44OTYsMy42NzIsNy4zNDQgICAgYzAuNjEyLDEuODM2LDEuODM3LDMuNjcyLDIuNDQ4LDUuNTA4Yy00Ljg5NiwzLjA2LTkuNzkyLDIuNDQ4LTE1LjMsMy42NzJjLTQuODk2LDEuMjI0LTQuODk2LDguNTY4LDAsOS43OTIgICAgYzkuMTgsMS44MzYsMTguMzYtMS44MzYsMjQuNDc5LTcuOTU2QzI3Ny4xMTQsMTQ4Ljc3MSwyNzUuODksMTQ0LjQ4NywyNzIuMjE4LDE0My4yNjN6IiBmaWxsPSIjRkZGRkZGIi8+CgkJPHBhdGggZD0iTTExMy43MSwxNjkuNTc5Yy00Ljg5NiwxLjIyNC05LjE4LDMuNjcyLTE0LjY4OCwzLjY3MmMtNC44OTYsMC03LjM0NC01LjUwOC03LjM0NC05Ljc5MiAgICBjLTAuNjEyLTQuMjg0LTYuMTItMi40NDgtNi43MzIsMC42MTJjLTAuNjEyLDcuMzQ0LDEuMjI0LDE1LjMsOS4xOCwxOC4zNmM3LjM0NCwyLjQ0OCwxNy4xMzYsMC42MTMsMjMuMjU2LTMuNjcyICAgIEMxMjEuNjY2LDE3NS42OTksMTE5LjIxOCwxNjguMzU1LDExMy43MSwxNjkuNTc5eiIgZmlsbD0iI0ZGRkZGRiIvPgoJCTxwYXRoIGQ9Ik0xNTIuMjY2LDE3MC44MDNjLTMuNjcyLTEuMjI0LTguNTY4LDAuNjEyLTEyLjI0LTEuODM2Yy0zLjA2LTIuNDQ4LTcuMzQ0LDEuODM2LTQuMjg0LDQuMjg0ICAgIGMzLjY3MiwzLjY3MiwxMS42MjgsNi4xMiwxNi41MjQsNC4yODRDMTU1LjkzOCwxNzYuOTIzLDE1NS45MzgsMTcyLjAyNywxNTIuMjY2LDE3MC44MDN6IiBmaWxsPSIjRkZGRkZGIi8+CgkJPHBhdGggZD0iTTE2NC41MDYsMTgxLjIwN2MtMC42MTItNC4yODQtNi4xMi00LjI4NC02LjEyLDBjLTAuNjEyLDcuMzQ1LTEuODM2LDE0LjY4OC0xLjgzNiwyMi4wMzJjMCw2LjEyLDkuNzkyLDYuMTIsOS43OTIsMCAgICBDMTY2LjM0MiwxOTUuODk2LDE2NS4xMTgsMTg4LjU1MiwxNjQuNTA2LDE4MS4yMDd6IiBmaWxsPSIjRkZGRkZGIi8+CgkJPHBhdGggZD0iTTE2NS4xMTgsMjM5Ljk1OWMtMC42MTItNS41MDgtMS4yMjQtMTAuNDAzLTEuODM2LTE1LjkxMmMwLTIuNDQ3LTQuMjg0LTIuNDQ3LTQuMjg0LDAgICAgYy0wLjYxMiw0Ljg5Ni0xLjIyNCw5LjE4MS0xLjgzNiwxNC4wNzZjLTAuNjEyLDQuODk2LTEuODM2LDkuNzkyLDAuNjEyLDE0LjA3NmMxLjIyNCwyLjQ0OCw0Ljg5NiwyLjQ0OCw2LjEyLDAgICAgQzE2Ni4zNDIsMjQ4LjUyNywxNjUuNzMsMjQ0LjI0MywxNjUuMTE4LDIzOS45NTl6IiBmaWxsPSIjRkZGRkZGIi8+CgkJPHBhdGggZD0iTTE2NS43MywyODguMzA4YzAtMi40NDgsMC00Ljg5Ni0wLjYxMi02LjczMmMtMC42MTItMi40NDgtMS4yMjQtNC44OTYtMS44MzYtNy4zNDRjMC0xLjgzNi0zLjA2LTEuODM2LTMuNjcyLDAgICAgYzAsMS44MzYtMS4yMjQsNC4yODQtMS44MzYsNi4xMmMtMC42MTIsMi40NDctMC42MTIsNC4yODQtMC42MTIsNi43MzFjLTAuNjEyLDQuMjg0LTEuODM2LDEwLjQwNCwxLjIyNCwxMy40NjQgICAgYzEuMjI0LDEuMjI1LDQuMjg0LDEuMjI1LDUuNTA4LDBDMTY2Ljk1NCwyOTYuODc1LDE2NS43MywyOTEuOTc5LDE2NS43MywyODguMzA4eiIgZmlsbD0iI0ZGRkZGRiIvPgoJCTxwYXRoIGQ9Ik0xNjAuODM0LDMyMC43NDNjMC0zLjY3Mi00Ljg5Ni0zLjY3Mi01LjUwOCwwYy0wLjYxMiw5Ljc5Mi0zLjA2LDIxLjQyLTEuMjI0LDMxLjIxMmMwLjYxMiw0LjI4NCw3LjM0NCw0LjI4NCw3Ljk1NiwwICAgIEMxNjMuODk0LDM0Mi4xNjMsMTYxLjQ0NiwzMzAuNTM1LDE2MC44MzQsMzIwLjc0M3oiIGZpbGw9IiNGRkZGRkYiLz4KCQk8cGF0aCBkPSJNMTkzLjg4MiwzNTYuODUyYy0wLjYxMi0zLjA2MS0zLjY3Mi0zLjY3Mi02LjEyLTMuMDYxYy0xLjIyNSwwLTIuNDQ4LDAuNjEyLTMuMDYxLDEuODM2ICAgIGMtMC42MTIsMC0xLjIyNCwwLjYxMi0xLjIyNCwwLjYxMmMtMS4yMjQsMC42MTItMi40NDgsMC42MTItMy42NzIsMC42MTJjLTAuNjEyLDAtMS44MzYsMC42MTEtMS44MzYsMC42MTEgICAgYy00Ljg5NiwwLjYxMi00Ljg5Niw3Ljk1NiwwLDcuOTU2YzQuMjg0LDAsOS4xOC0wLjYxMSwxMi44NTItMi40NDdDMTkzLjI3LDM2MS4xMzYsMTk0LjQ5NCwzNTkuMjk5LDE5My44ODIsMzU2Ljg1MnoiIGZpbGw9IiNGRkZGRkYiLz4KCQk8cGF0aCBkPSJNMjM1LjQ5OCwzNDQuNjExYy00LjI4My0wLjYxMi03LjM0NCwwLjYxMi0xMS4wMTYsMS4yMjRjLTUuNTA4LDEuMjI1LTExLjAxNiwxLjgzNi0xNS45MTIsMS44MzYgICAgYy0zLjY3MiwwLTMuNjcyLDUuNTA5LDAsNi4xMmM4LjU2OCwwLjYxMiwyMy44NjgsNC4yODQsMjkuMzc2LTQuODk2QzIzNy45NDYsMzQ3LjY3MSwyMzcuMzM0LDM0NC42MTEsMjM1LjQ5OCwzNDQuNjExeiIgZmlsbD0iI0ZGRkZGRiIvPgoJCTxwYXRoIGQ9Ik0yNzIuMjE4LDMyOS45MjNjLTQuODk2LDMuMDYxLTExLjAxNyw0LjI4NC0xNS45MTIsNy4zNDVjLTQuMjg0LDIuNDQ3LTAuNjEyLDguNTY3LDMuNjcyLDYuNzMxICAgIGM0Ljg5Ni0yLjQ0OCwxMS4wMTYtMy4wNiwxNS45MTItNS41MDhDMjgyLjAxLDMzNi4wNDMsMjc3LjcyNiwzMjYuODYzLDI3Mi4yMTgsMzI5LjkyM3oiIGZpbGw9IiNGRkZGRkYiLz4KCQk8cGF0aCBkPSJNMjc5LjU2MiwzMTEuNTYzYy0zLjY3Mi0xLjgzNi02LjczMi00Ljg5Ni05LjE4LTcuOTU2Yy0yLjQ0OC0zLjA2MS00LjI4NC02LjczMi03LjM0NS05LjE4MSAgICBjLTIuNDQ3LTEuMjI0LTQuODk2LDAuNjEyLTQuODk2LDMuMDYxYzAsNC44OTYsMy42NzIsOC41NjgsNi43MzEsMTEuNjI4YzMuMDYxLDMuMDYsNy4zNDUsNi4xMiwxMS42MjksNy45NTYgICAgQzI3OS41NjIsMzE4LjI5NSwyODIuNjIyLDMxMy4zOTksMjc5LjU2MiwzMTEuNTYzeiIgZmlsbD0iI0ZGRkZGRiIvPgoJCTxwYXRoIGQ9Ik0yNTYuMzA2LDI3My4wMDdjLTEuMjI1LTEuODM2LTEuODM2LTMuMDYtMy4wNjEtNC44OTZjLTEuMjI0LTIuNDQ4LTEuMjI0LTQuMjg0LTEuMjI0LTcuMzQ0ICAgIGMtMC42MTItNS41MDktOC41NjgtNS41MDktOC41NjgsMGMwLDMuMDYsMS4yMjUsNi43MzEsMy4wNjEsOS4xOHM0LjI4NCw0LjI4NCw2LjczMSw2LjEyICAgIEMyNTUuMDgyLDI3Ny4yOTEsMjU3LjUzLDI3NC44NDMsMjU2LjMwNiwyNzMuMDA3eiIgZmlsbD0iI0ZGRkZGRiIvPgoJCTxwYXRoIGQ9Ik0yNDAuMzk0LDIzNi4yODdjLTEuMjI0LTMuMDYtMy4wNi02LjEyLTQuODk2LTkuMThjLTEuODM2LTMuMDYxLTIuNDQ3LTYuNzMyLTQuMjgzLTEwLjQwNCAgICBjLTEuMjI1LTMuNjcyLTYuNzMyLTMuNjcyLTcuMzQ1LDBjLTEuODM2LDguNTY4LDYuNzMyLDE1LjkxMiwxMS4wMTcsMjIuNjQ1QzIzNy4zMzQsMjQzLjAyLDI0Mi4yMywyMzkuOTU5LDI0MC4zOTQsMjM2LjI4N3oiIGZpbGw9IiNGRkZGRkYiLz4KCQk8cGF0aCBkPSJNMjIwLjgxLDE5Mi44MzVjLTMuNjcyLTQuODk2LTUuNTA4LTEwLjQwNC05Ljc5Mi0xNC42ODhjLTQuMjg0LTQuMjg0LTkuNzkyLDEuODM2LTYuMTIsNi4xMnM2LjEyLDkuMTgsMTAuNDA0LDEyLjg1MiAgICBDMjE4LjM2MiwxOTkuNTY3LDIyMy4yNTgsMTk1Ljg5NiwyMjAuODEsMTkyLjgzNXoiIGZpbGw9IiNGRkZGRkYiLz4KCQk8cGF0aCBkPSJNMjI5Ljk5LDE2Mi4yMzVjLTIuNDQ3LTIuNDQ4LTUuNTA4LTEuODM2LTguNTY3LTEuODM2Yy0zLjY3MywwLTYuNzMyLDAuNjEyLTEwLjQwNCwwLjYxMiAgICBjLTQuODk2LDAuNjEyLTQuODk2LDYuNzMyLDAsNy4zNDRjMy4wNiwwLDYuMTIsMC42MTIsOS4xOCwwLjYxMmMzLjY3MiwwLDcuMzQ1LDAuNjEyLDkuNzkyLTEuODM2ICAgIEMyMzEuODI2LDE2NS45MDcsMjMxLjgyNiwxNjMuNDU5LDIyOS45OSwxNjIuMjM1eiIgZmlsbD0iI0ZGRkZGRiIvPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
    background-repeat: no-repeat;
    z-index: 10001;

    &.top {
      top: -200px;
    }

    &.bottom {
      top: 80px;
    }
  }

  .text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Indie Flower';
    font-size: 20px;
    line-height: 24px;
    min-width: 120px;

    &.top {
      top: -200px;
    }

    &.bottom {
      top: 220px;
    }
  }

  .buttons {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10001;
  }

  .button {
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Indie Flower';
    color: white;
    font-size: 36px;

    &:hover {
      color: rgba(white, 0.75);
    }
  }

  .disable {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 10001;

    .button {
      font-size: 20px;
    }
  }

  .highlighter {
    position: fixed;
    background-color: rgba(white, 0.1);
    box-shadow: 0 0 0 1000em rgba(0, 0, 0, 0.8);
    z-index: 10000;
    border-radius: 5px;
/*    animation: enlarge 0.3s ease-in-out;
    @keyframes enlarge {
      0% {
        transform: scale(0%);
      }

      100% {
        transform: scale(100%);
      }
    }*/
  }
}
